*.vo
*.vio
*.v.d
*.glob
*.cache
*.aux
*.vok
*.vos
\#*\#
.\#*
*~
*.bak
.coq-native/
Makefile.coq
Makefile.coq.conf
_CoqProject.*
Makefile.package.*
.Makefile.package.*
builddep
*.crashcoqide
.coqdeps.d
*.coq.d
.vscode/
_opam/
artifact.tar.gz
pldi24-36-artifact.zip
